.Field {
  display: flex;
  flex-wrap: wrap;

  &:not(:focus-within) {
    textarea {
      border-color: transparent;
    }
  }

  textarea {
    width: 100%;
    margin-bottom: 0.75rem;
    resize: none;
  }

  &__cancel-button {
    margin-left: 0.75rem;
  }
}
