body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: none 0.2s ease-in-out;
}

button {
  background: transparent;
  border: none;
  font-size: inherit;
  outline: solid 0px;

  &:not(:disabled) {
    cursor: pointer;
  }
}

textarea,
input[type='text'],
input[type='date'] {
  background: white;
  border: 1px solid;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.25;

  &:focus {
    border-color: transparent;
    outline: #2563eb solid 2px;
  }
}

input[type='checkbox'] {
  appearance: none;
  width: 1em;
  height: 1em;
  position: relative;
  font-size: 1rem;

  &:not(:checked) {
    border: 1px solid #1f2937;
    background: white;
  }

  &:checked {
    background: #2563eb;

    &::after {
      content: '';
      position: absolute;
      top: 0.125em;
      left: 0.3125em;
      width: 0.375em;
      height: 0.625em;
      box-sizing: border-box;
      border: solid white;
      border-width: 0 0.125em 0.125em 0;
      transform: rotate(45deg);
    }
  }

  &:focus {
    outline: #2563eb solid 2px;
    outline-offset: 2px;
  }
}

input,
textarea,
button {
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.3s;
}

.container {
  @media (min-width: 900px) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1200px) {
    max-width: 900px;
  }

  @media (min-width: 1800px) {
    max-width: 1200px;
  }
}
